@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@400;600&display=swap');

/*
Container
*/ 
.container {
  min-height: 100vh;   /* responsive */
}

.name {
    font-family: 'Poppins',
    sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}



/*
Text Group
*/
.container .text-group {
  height: 250px;
  width: 100%;
}
.container .text-group .text-group__title {
  position: absolute;
  top: 110px;
  left: 243px;
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 36px;
  height: 100px;
}
.container .text-group .text-group__introduce {
  position: absolute;
  top: 110px;
  left: 736px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 27px;
}
.container .text-group .text-group__introduce .text1 {
  font-weight: 600;
  margin-bottom: 10px;
}
.container .text-group .text-group__introduce .text2 {
  font-weight: 400;
}


/*
IMG
*/
img {
  width: 238px;
  height: 347px;
  margin-bottom: 15px;
}



/*
Profile
*/
.people {
  width: 300px;
}
.image-group {
  width: 100%;
  height: 1200px;
}
.image-group .people1 {
  position: absolute;
  top: 330px;
  left: 240px;
}
.image-group .people1 .people1__position {
  position: absolute;
  top: 43px;
  right: -10px;
  transform: rotate(90deg);
  font-size: 12px;
  font-family: 'PT Serif';
  font-weight: 400;
  line-height: 15.9px;
}
.image-group .people2 {
  position: absolute;
  top: 429px;
  left: 571px;
}
.image-group .people2 .people2__position {
  position: absolute;
  top: 35px;
  right: 0;
  transform: rotate(90deg);
  font-size: 12px;
  font-family: 'PT Serif';
  font-weight: 400;
  line-height: 15.9px;
}
.image-group .people3 {
  position: absolute;
  top: 330px;
  left: 901px;
}
.image-group .people3 .people3__position {
  position: absolute;
  top: 25px;
  right: 10px;
  transform: rotate(90deg);
  font-size: 12px;
  font-family: 'PT Serif';
  font-weight: 400;
  line-height: 15.9px;
}
.image-group .people4 {
  position: absolute;
  top: 845px;
  left: 241px;
}
.image-group .people4 .people4__position {
  position: absolute;
  top: 31px;
  right: 5px;
  transform: rotate(90deg);
  font-size: 12px;
  font-family: 'PT Serif';
  font-weight: 400;
  line-height: 15.9px;
}
.image-group .people5 {
  position: absolute;
  top: 944px;
  left: 571px;
}
.image-group .people5 .people5__position {
  position: absolute;
  top: 28px;
  right: 10px;
  transform: rotate(90deg);
  font-size: 12px;
  font-family: 'PT Serif';
  font-weight: 400;
  line-height: 15.9px;
}
.image-group .people6 {
  position: absolute;
  top: 845px;
  left: 902px;
}
.image-group .people6 .people6__position {
  position: absolute;
  top: 28px;
  right: 10px;
  transform: rotate(90deg);
  font-size: 12px;
  font-family: 'PT Serif';
  font-weight: 400;
  line-height: 15.9px;
}


/*
FOOTER
*/
a {
  color: grey;
}
footer {
  display: flex;
  justify-content: center;
  color: grey;
}


/*
Mobile Screen 
*/  
@media only screen and (max-width: 767px) {
  .container .text-group .text-group__title {
    top: 71px;
    left: 12px;
  }
  .container .text-group .text-group__introduce {
    top: 156px;
    left: 12px;
  }
  .image-group .people:nth-child(2n+1) {
    left: 19px;
  }
  .image-group .people:nth-child(2n) {
    left: 201px;
  }
  .image-group .people1 {
    top: 318px;
  }
  .image-group .people1 .people1__position {
    top: 148px;
    left: 0;
  }
  .image-group .people2 {
    top: 366px;
  }
  .image-group .people2 .people2__position {
    top: 140px;
    left: 10px;
  }
  .image-group .people3 {
    top: 619px;
  }
  .image-group .people3 .people3__position {
    top: 128px;
    left: 20px;
  }
  .image-group .people4 {
    top: 667px;
  }
  .image-group .people4 .people4__position {
    top: 135px;
    left: 10px;
  }
  .image-group .people5 {
    top: 930px;
  }
  .image-group .people5 .people5__position {
    top: 130px;
    left: 15px;
  }
  .image-group .people6 {
    top: 979px;
  }
  .image-group .people6 .people6__position {
    top: 132px;
    left: 10px;
  }
  br {
    display: none;
  }
  img {
    width: 138px;
    height: 209px;
    margin-bottom: 15px;
  }
}



/*
Large Screen (Desktop)
*/
@media only screen and (min-width: 1441px) {
  .container .text-group .text-group__title {
    top: 110px;
    left: 243px;
    font-size: 48px;
  }
  .container .text-group .text-group__introduce {
    top: 133px;
    left: 1036px;
    font-size: 24px;
  }
  .image-group .people2, 
  .image-group .people5 {
    left: 720px;
  }
  .image-group .people3,
  .image-group .people6 {
    left: 1200px;
  }
}